@tailwind base;
@tailwind components;
@tailwind utilities;

/*
sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... }
*/

.card
{
  @apply relative border  border-gray-400 rounded-md overflow-hidden mb-3;
  /* @apply w-60 h-80  lg:w-80 lg:h-96 ; */
}

.badge
{
  /* @apply bg-gray-500 rounded-md w-20 h-5 text-xs font-normal uppercase flex justify-center ml-2 items-center top-3 absolute; */
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(17, 17, 17);

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
