.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
  
  .notifications {
    max-height: 10%;
    width: 100%;
    overflow-y: auto;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
  }
  
  .main-content {
    display: flex;
    flex-direction: row;
    height: 90%;
  }
  
  .conversations {
    width: 30%;
    overflow-y: auto;
    background-color: #e1e1e1;
    border-right: 1px solid #ccc;
  }
  
  .chat-window {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #fff;
  }
  