.three-scene{
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

/* button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
border-color: #646cff;
}
button:focus,

button:focus-visible {
outline: 4px auto -webkit-focus-ring-color;
}

.ui-overlay {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  z-index: 2;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end; 
  align-items: flex-end; 
}

.overlay-button {
  width: 440px;
  height: 70px;
  margin-bottom: 15px; 
  padding: 10px 20px;
  font-size: 40px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */




#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }


#loading-spinner {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
  }
    #loading-spinner:before,
    #loading-spinner:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    #loading-spinner:after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}


.scene-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .three-scene {
    width: 100%;
    height: 100%;
  }
  
  /* Blurring layer */
  .blurring-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4.5px); /* Apply blur effect */
    z-index: 1; /* Position above the three.js scene */
    pointer-events: none; /* Allow mouse events to pass through */
  }
  
  
  /* Sections */
  .section {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Left section */
  .section-left {
    margin-left: 20px;
  }
  
  /* Right section */
  .section-right {
    margin-right: 20px;
  }
  
  .blur-wrapper {
    /* This blurs all child elements */
    filter: blur(6px);
  
    /* If you need to fill the page */
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
  }
  